<div style="display:inline-block;">
<div  ng-repeat="hero in heroes" ng-click='toggleHero(hero); $event.stopPropagation();'>
  <div style="padding:5px; border-top:1px solid black;">{{hero.name}}</div>
</div>
</div>
<div style="float:right">
  <div ng-repeat='category in categories'>
    <div style="border-top:1px solid black;">{{category.name}}</div>
      <div ng-repeat='attribute in category.attributes'>
        <div>{{attribute.name}}</div>
        <div ng-show="attribute.type == 'rate'">
          <input type="text" value="{{attribute.value}}" ng-model="attribute.value" ng-change="updateAttribute(attribute)"/>
        </div>
        <div ng-show="attribute.type == 'bool'">
          <div style="height:20px; width:20px; border:1px solid black;" ng-class="{'white': attribute.value == 0, 'black': attribute.value == 1}" ng-click="toggleBool(attribute)"></div>

          <input type="checkbox" name="vehicle"  ng-model="attribute.value" parse-int ng-true-value="1" ng-false-value="0"/>
        </div>
      </div>
  </div>
</div>
